@font-face {
  font-family: "Metric";
  src: url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Regular.woff") format('woff');
}
@font-face {
  font-family: "Metric";
  src: url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Bold.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family: "Metric";
  src: url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Semibold.woff") format('woff');
  font-weight: 600;
}
@font-face {
  font-family: "Metric";
  src: url("https://hpefonts.s3.amazonaws.com/web/MetricHPE-Web-Light.woff") format('woff');
  font-weight: 100;
}

.number {
  font-family: Metric, Arial, sans-serif;
}

body {
  background-color: #f0f4f8;
  color: #00010f;
  margin: 0;
  font-size: 16px;
  font-family: Metric, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
